* {
	box-sizing: border-box;
}
.propos{
	margin-top: 100px;
	height: 90vh;
}

#photo{
    clip-path: circle(150px at center);
	width:300px;
}

main p{
	text-align: center;
}

.experiences{
	height: 100vh;
}

.exp{
	padding-left: 700px;
}

.timeline-object {
	display: flex;
	align-items: center;
	margin-top: 50px;
	position: relative;
}

.timeline-object.complete::after {
	content: '';
	display: block;
	position: absolute;
	
	width: 4px;
	height: 100px;
	background-color: #000000;
	
	left: 23px;
	top: 50px;
	transform: translateX(-50%);
}

.timeline-status {
	height: 46px;
	width: 46px;
	border-radius: 50%;
	background-color: #1f1f1f;
}

.timeline-object:not(.complete) .timeline-status {
	background: #ffffff;
	border: 4px solid #C5C5C5;
}

.timeline-content {
	margin-left: 15px;
}
  
  .timeline-content h3 {
	color: #ffffff;
	background: #000000;
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}
  
  .timeline-content span {
	color: #000000;
	font-size: .9em;
	font-weight: bold;
}

.timeline-object:not(.complete) .timeline-content h3 {
	color: #8A8A8A;
	background: #E1E1DF;
}

.projets{
	height: 100vh;
}

.projet{
	margin-left: 100px;
	position: relative;

}

#scratch:hover{
filter: sepia(0);
transform: scale(1.1);

}

#site:hover {
filter: sepia(0);
transform: scale(1.1);

}

#site{
margin: 10px;
padding: 10px;
height: 80%;
width: 80%;
border: solid black 2px;
filter: grayscale(100%);
transition: .3s ease-in-out;

}


#scratch{
margin: 10px;
padding: 10px;
height:80%;
width: 80%;
border: solid black 2px;   
filter: grayscale(100%);
transition: .3s ease-in-out;
}
